:root {
    margin: 0;
    padding: 0;
    --bojaL: black;
    --sirinaBordera: 2px  ;
    --stilBordera: solid ;
    --bojaT: rgb(211, 255, 0);
    --bojaH: rgb(5, 238, 156);
    --size: 8px;
    --half-size: calc(var(--size) / 2);
  }
  
  .mapa{
    display: flex;
  }
  
  .podesavanja {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
  }
  
  .input{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .varijable{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  body{
    margin: 0px;
    display: flex;
    height: auto;
    justify-content: center;
  }
  
  img{
      border: 30px solid red;
      border-color: var(--bojaT);
      height: 534px;
      width: 419px;    
  }
  
  .SVE{
    border: 1px solid red;
    display: flex;
    position: relative;
  }
  
  .XYnn{
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    height: 8.25px;
    width: 8.2333px;
    border-width: var(--sirinaBordera);
    border-style: var(--stilBordera);
    border-color: var(--bojaT);
    /* border: 2px solid rgb(211, 255, 0) ; */
    border-radius: 3rem;
    background-color: var(--bojaL); 
  }
  .product{
    height: 8.25px;
    width: 8.2333px;
    border-radius: 3rem;
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    border-width: var(--sirinaBordera);
    border-style: var(--stilBordera);
    border-color: var(--bojaT);
    background-color: var(--bojaL); 
  }
  
  .triangle{
    width: 0;
    height: 0;
    border: 4.16px solid transparent;
    border-top: 0;
    border-bottom: 8.25px solid red;
    border-bottom-color: var(--bojaT);
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    background-color: var(--bojaL); 
  }  

  .star {
    position: absolute;
    display: block;
    color: var(--bojaT);
    width: 0px;
    height: 0px;
    border-right: var(--half-size) solid transparent;
    border-bottom: calc(var(--half-size) * 0.7) solid var(--bojaT);
    border-left: var(--half-size) solid transparent;
    transform: rotate(35deg);
    box-sizing: border-box;
    top: calc(calc(-00*10.24px) + 565.55px);
    left: calc(calc(00*10.217px) + 63.964px);
  }
  .star:before {
    border-bottom: calc(var(--half-size) * 0.8) solid var(--bojaT);
    border-left: calc(var(--half-size) * 0.3) solid transparent;
    border-right: calc(var(--half-size) * 0.3) solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: calc(var(--half-size) * 0.45 * -1);
    left: calc(var(--half-size) * 0.65 * -1);
    display: block;
    transform: rotate(-35deg);
    content: '';
  }
  .star:after {
    position: absolute;
    display: block;
    color: var(--bojaT);
    top: calc(var(--half-size) * 0.03);
    left: calc(var(--half-size) * -1.05);
    width: 0px;
    height: 0px;
    border-right: var(--half-size) solid transparent;
    border-bottom: calc(var(--half-size) * 0.7) solid var(--bojaT);
    border-left: var(--half-size) solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .TiL{
    height: 8.25px;
    width: 8.2333px;
    background: linear-gradient( -45deg, var(--bojaT), var(--bojaT) 49%, white 49%,  var(--bojaL) 51% ); 
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    border-color: var(--bojaT);
    background-color: var(--bojaL); 
  } 
  .LiH{
    height: 8.25px;
    width: 8.2333px;
    background: linear-gradient( 180deg, var(--bojaH), var(--bojaH) 49%, white 49%,  var(--bojaL) 51% ); 
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    border-color: var(--bojaH);
    background-color: var(--bojaL); 
  } 
  .TiH{
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    height: 8.25px;
    width: 8.2333px;
    border-radius: 3rem;
    background: conic-gradient(var(--bojaT) 50%, var(--bojaH) 0 180%);
  }
  .TiLiH {
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    height: 8.25px;
    width: 8.2333px;
    border-radius: 3rem;
    background: conic-gradient(var(--bojaT) 33%, var(--bojaH) 0 66%, var(--bojaL) 0);
  }

  .netacan {
    clip-path: polygon(0 40%, 0 60%, 100% 60%, 100% 40%);
    box-sizing: border-box;
    height: 8.25px;
    width: 8.2333px;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    background: black;
  }

  .T{
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    height: 8.25px;
    width: 8.2333px;

    border-radius: 3rem;
    background-color: var(--bojaT);  
  }
  .L{
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    height: 8.25px;
    width: 8.2333px;

    border-radius: 3rem;
    background-color: var(--bojaL);  
  } 

  .H{
    box-sizing: border-box;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    height: 8.25px;
    width: 8.2333px;
    border-radius: 3rem;
    background-color:  var(--bojaH); 
  } 

  .sumnjiv {
    content :\003F;
    box-sizing: border-box;
    height: 8.25px;
    width: 8.2333px;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    background: black;
  }

  .netacan {
    clip-path: polygon(0 40%, 0 60%, 100% 60%, 100% 40%);
    box-sizing: border-box;
    height: 8.25px;
    width: 8.2333px;
    position: absolute;
    top: calc(calc(-00*10.24px) + 562.55px);
    left: calc(calc(00*10.217px) + 63.764px);
    background: black;
  }

.netacanX {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  box-sizing: border-box;
  height: 8.25px;
  width: 8.2333px;
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.55px);
  left: calc(calc(00*10.217px) + 63.764px);
  background: var(--bojaT);
}
.zvezda {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  box-sizing: border-box;
  height: 8.25px;
  width: 8.2333px;
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.55px);
  left: calc(calc(00*10.217px) + 63.764px);
  background: var(--bojaT);
}

.sumnjiv {
  display: block;
  background: #4444ff;
  color: #fff;
  border-radius: 50%;
  height: 9px; /*8.25px*/
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.05px);
  left: calc(calc(00*10.217px) + 62.064px);
  width: 9.0202px; /*8.2333px*/
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-family: Verdana;
  content: "";
  background: url('https://api.iconify.design/eva/question-mark-circle-outline.svg') no-repeat center center  / contain;
}



  /*todo dodati za USMENI podatak */
  /*todo dodati za SUMNJIV i NEPRECIZAN podatak */