*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary:#38d2d2;
  --clr-secondary:#50cd9a ;
  --clr-third:#c2a84d ;
  --clr-fourth: #be6c48;
  --clr-fifth: #b55257;

  /* prva kombinacija */
  --clr1:#2F755A;
  --clr2:#C5C6A5;
  --clr3:#ae8f66;

  /* druga kombinacija */
  /* --clr1:#2B2A93;
  --clr2:#8EB9C9;
  --clr3:#867574; */

  --bojaL: #2f2f2f;
  --bojaH: #008000;
  --bojaF: #ff0000;
  --sirinaBordera: 2px  ;
  --stilBordera: solid ;
  --size: 8px;
  --half-size: calc(var(--size) / 2);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: var(--clr3);
  margin: 1em;
  line-height: 1.5;
  height: 100%;
  justify-content: center;
}

.wlq{
    display: flex; /** ovo si doda0 */
    flex-direction: column; /** ovo si doda0 */
    max-height: 100%;
    border: 5px black dotted;
}

.container {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  display: flex;
}

img {
width: 100%;
height: auto;
float: none;
}

@media only screen and (min-width:680px) {
  body{
    height: calc(100vh - 2em - 1px); /** Dodao si i ovo*/
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  img {
    float: left;
    max-height: 86.5vh; /**Dodao si i ovo*/
  }
  .input-container{
    justify-content: space-between;
  }
}

/*! nav menu */
nav {
  height: auto; /*dodao si ovo*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--clr1);
  align-items: center;
  padding: 1rem 1.5rem;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
}
nav .logo {
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
}
nav #toggle,
nav label {
  display: none;
}
/* 40.625em to px: 40.625 * 16 = 652 px (1em is equivalent to 16px) */
/* 1000px to em: 1000 / 16 = 62.5 em */
@media (max-width: 62.5rem) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}
/*proba*/

/*proba*/
  input{
    border: 0.2em solid var(--clr1);
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5em;
    width: 80%;
    height: 2em;
    border-radius: 1em;
    outline: 0;
    margin: 0.25rem;
  }
  input:focus{  
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    background-color: var(--clr1);
    border: 0.2em solid #d0ff00;
    box-shadow: 0 0 0.5em var(--clr1);
    outline: 0;
  }


.input-container{
  background-color: var(--clr2);
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0.5rem;
}

  .input-container > * {
  border: 2px red dotted;
  }

  /*! choose color for type of data */
  .variables{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .variables div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.1rem;
    text-align: center;
    width: 33.33%;
  }

  .variables label {
    display: block;
    /* font-size: 1rem */
  }
  
  .variables input[type="color"] {
    padding: 0;
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
   
  input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.2em solid var(--clr1);
  }
  
  input[type="color"]::-moz-color-swatch {
    border-radius: 50%;
    border: 0.2em solid var(--clr1);
  } 


  /*!veličina dugmeta treba da bude minimum 2.75rem tj oko 10mm*/  
 button {
  box-sizing: border-box;
  margin: 0.25rem;
  color:  black;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-decoration: none #0d172a solid;
  transition: all 0.1s cubic-bezier(.4, 0, .2, 1);
  border: 0;
  border-radius: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

button:hover {
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-color: var(--clr1);
  color: #fff;
  box-shadow: 0 0 0 0.15rem #5ceace;
}

/*! signle 10x10 UTM */
/* signle 10x10 UTM container */
.grp_add10x10 {
  margin: 0.25rem;;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* signle 10x10 UTM input */
.add10x10 {
  margin: 0;
  border-radius: 0;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
/* signle 10x10 UTM button */
.btn10x10 {
  display: flex;
  min-height: 0;
  border-radius: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  height: 2em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  justify-content: center;
  align-items: center;
}

/*! navigation bar */

/*! load and add taxon */

