:root {
  margin: 0;
  padding: 0;
  --bojaSredineKruga: black;
  --sirinaBordera: 2px  ;
  --stilBordera: solid ;
  --bojaBordera: rgb(211, 255, 0);
}

.mapa{
  display: flex;
}

.podesavanja {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.input{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.varijable{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  margin: 0px;
  display: flex;
  height: auto;
  justify-content: center;
}

img{
    border: 30px solid red;
    border-color: var(--bojaBordera);
    height: 534px;
    width: 419px;    
}

.SVE{
  border: 1px solid red;
  display: flex;
  position: relative;
}

.CM00{
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.55px);
  left: calc(calc(00*10.217px) + 63.764px);
  height: 9.25px;
  width: 9.2333px;
  border-width: var(--sirinaBordera);
  border-style: var(--stilBordera);
  border-color: var(--bojaBordera);
  /* border: 2px solid rgb(211, 255, 0) ; */
  border-radius: 3rem;
  background-color: var(--bojaSredineKruga); 
}

.XYnn{
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.55px);
  left: calc(calc(00*10.217px) + 63.764px);
  height: 8.25px;
  width: 8.2333px;
  border-width: var(--sirinaBordera);
  border-style: var(--stilBordera);
  border-color: var(--bojaBordera);
  /* border: 2px solid rgb(211, 255, 0) ; */
  border-radius: 3rem;
  background-color: var(--bojaSredineKruga); 
}
.product{
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.55px);
  left: calc(calc(00*10.217px) + 63.764px);
  height: 8.25px;
  width: 8.2333px;
  border-width: var(--sirinaBordera);
  border-style: var(--stilBordera);
  border-color: var(--bojaBordera);
  border-radius: 3rem;
  background-color: var(--bojaSredineKruga); 
}

.triangle {
  width: 0;
  height: 0;
  border: 4.16px solid transparent;
  border-top: 0;
  border-bottom: 8.25px solid red;
  border-bottom-color: var(--bojaBordera);
  box-sizing: border-box;
  position: absolute;
  top: calc(calc(-00*10.24px) + 562.55px);
  left: calc(calc(00*10.217px) + 63.764px);
  background-color: var(--bojaSredineKruga);
}